@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.description-text {
  color: rgb(117, 117, 117);
}

.auth-button {
  background-color: #D4A373;
  width: 9rem;
  height: 3rem;
  border: 0;
  border-radius: 8px;
  font-size: 1.15rem;
}

.auth-button:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
  box-shadow: -1px 35px 107px -3px rgba(212, 163, 115, 1);
  -webkit-box-shadow: -1px 35px 107px -3px rgba(212, 163, 115, 1);
  -moz-box-shadow: -1px 35px 107px -3px rgba(212, 163, 115, 1);
}

.text-gradient {
  color: #D4A373;
}

.chef-bg {

  --s: 70px;
  /* control the size */
  --c1: #8d868691;
  --c2: #F1F0E8;

  --_g: radial-gradient(#0000 60%, var(--c1) 61% 63%, #0000 64% 77%, var(--c1) 78% 80%, #0000 81%);
  --_c: , #0000 75%, var(--c2) 0;
  background:
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
    conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
    conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
    var(--_g), var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
  background-size: var(--s) var(--s);

}